<h1> Tuple in Python </h1>

<h3>
Tuple is nothing but the ordered collection of different data elements or objects but it is immuatable (can't Modify). In python , tuples are created by placing sequence of values seperated by comma with or without use of parentheses for grouping of data sequence. Tuples can contain any number of data types and any number of elements(Strings,integers,list etc)

Note:- Tuples can also be created with a single element, but it bit a tricky. Having one lement in the parenthesis is ot sufficient , there must be trailing comma to make it tuple.

How we create tuple? Ans:- With the help of following sytax:-

Syntax:- var_name=(List of elements)

For exmaple:-

T1 = ('Nidhi','Gaytri')    
</h3>

In [1]:
# Example 1
t=()
print(type(t))

<class 'tuple'>

In [3]:
# Example 2
t=('Nidhi','Gaytri',[4,5,6])
print(t)
print(type(t))

('Nidhi', 'Gaytri', [4, 5, 6])
<class 'tuple'>

In [6]:
# Example 3 
T = 'Nidhi','Gaytri'   # Without use of parenthesis 
print(T)
print(type(T))

('Nidhi', 'Gaytri')
<class 'tuple'>

In [7]:
# example 4 
T1 = (0,1,2,4)
T2 = ('Pooja','Arti')
T3 = (T1,T2)   # nested Tuple
print(T3)

((0, 1, 2, 4), ('Pooja', 'Arti'))

In [14]:
# example 5
T = ("Bhushan",)
print(T)
print(type(T))

('', 'Bhushan')
<class 'tuple'>

In [17]:
# Example 6
t=('Nidhi','Gaytri',[4,5,6])
print(len(t)) # len is nothing but the predefined function in python which is used to find number of elements present inside the tuple

3

In [18]:
# Exmaple 7 
Fruits = ("Orange","Custerapple","PineApple")
Juice = ("Ojucie","Cut?Juice","PJucie")
Bvalue = (True,False,True)
Price = (60,65,120)
TT = (Fruits,Juice,Bvalue,Price)
print(TT)

(('Orange', 'Custerapple', 'PineApple'), ('Ojucie', 'Cut?Juice', 'PJucie'), (True, False, True), (60, 65, 120))

In [19]:
# Exmaple 8 
Fruits = ("Orange","Custerapple","PineApple")
Fruits.append("Grapes")   # Tuple is immutable 
print(Fruits)

AttributeError: 'tuple' object has no attribute 'append'